name: Push Helm Chart

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag or branch to use"
        required: true
        default: "main"

jobs:
  push-chart:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref }}

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.0

      - name: Install Helm Push plugin
        run: |
          helm plugin install https://github.com/chartmuseum/helm-push.git --verify=false 

